<?php

/*
* configure the your api here 
*/

return array(
    'host' => 'http://example.com',
    'site-root' => 'site',
    'auth' => 'auth',
    'adapter' => '\Zend\Http\Client\Adapter\Curl',
    'config' => array(),
);

?>
